.pompe{
    margin : 100 px ;
    padding: 100px;

}

.goutteur{
    margin : 100 px ;
    padding: 100px;

}

.tube{
    margin : 100 px ;
    padding: 100px;

}

.programmateur{
    margin : 100 px ;
    padding: 100px;

}
.montanttotal{
    margin : 100 px ;
    padding: 100px;

}